<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.me.ansr">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--
     needed for older devices -
     used to check app background / foreground status
    -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="kr.me.ansr.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="kr.me.ansr.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- [END gcm_permission] -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.SplashBActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".login.SplashActivity"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".login.SignUpAccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.SignUpAccountActivity" />
        </activity>


        <!-- ==================================== -->
        <activity
            android:name=".gcmchat.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gcmchat.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gcmchat.activity.ChatRoomActivity"
            android:label="@string/title_activity_chat_room_discussion"
            android:parentActivityName=".gcmchat.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gcmchat.activity.MainActivity" />
        </activity>
        <!-- ==================================== -->
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="kr.me.ansr" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- ===================================== -->
        <!-- [START gcm_listener_service] -->
        <!-- .gcm.MyGcmListenerService.java... -->
        <!-- [END gcm_listener_service] -->
        <!-- [START instanceId_listener_service] -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener_service] -->


        <!-- [START gcm_registration_service] -->
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />
        <!-- [END gcm_registration_service] -->


        <!-- ===================================== -->
        <service
            android:name=".gcmchat.gcm.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcmchat.gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="kr.me.ansr.image.MyGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".login.SignupWayActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.TermsActivity"
            android:parentActivityName=".login.SignupWayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.SignUpAccountActivity"
            android:label="@string/title_activity_sign_up_account"
            android:parentActivityName=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.me.ansr.login.LoginActivity" />
        </activity>
        <activity
            android:name=".image.TakePhotoActivity"
            android:label="@string/title_activity_take_photo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".image.MediaStoreActivity"
            android:label="@string/title_activity_media_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tab.board.detail.BoardDetailActivity"
            android:label="@string/title_activity_board_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tab.board.BoardWriteActivity"
            android:label="@string/title_activity_board_write"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tab.friends.detail.FriendsDetailActivity"
            android:label="@string/title_activity_friends_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tab.mypage.AlarmActivity"
            android:label="@string/title_activity_Alarm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>